<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wild Village!{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('yourFavIcon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/stylesheet.css') }}">
        <script type="text/javascript" src="{{ asset('js/jquery-2.2.3.min.js') }}" ></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}" ></script>      
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

 <!-- NAVBAR -->   
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('user_flux') }}"><img class="logotage" src="{{ asset('img/logonavbar_small.png') }}"><b>WILD VILLAGE</b></a>
    </div>

    <form method="POST" action="{{ path('user_search') }}" class="navbar-form navbar-left inline-form">
      <input type="text" name="recherche" class="input-sm form-control">
      <input type="submit" value="CHERCHER" class="btn-primary btn-sm">
    </form>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('user_flux') }}">Flux</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{{ path('user_espace') }}">Mon espace</a></li>
            <li><a href="#">Messagerie</a></li>
            <li><a href="#">Mes paramètres</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}" >Se déconnecter</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- END NAVBAR -->

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

 <!-- FOOTER -->
 <footer class="footer">
      <div class="col-xs-12 col-md-4">
        <p class="text-muted">Site développé par les élèves de la Wild Code School</p>
      </div>
      <div class="col-xs-12 col-md-8 social">
        <div class="col-md-3"></div>
        <div class="col-md-6 a">
                <a href="https://www.facebook.com/wildcodeschool" target="_blank">
                  <img class="typemarge" src="{{ asset('img/social/facebook.svg') }}
                    " alt="Facebook - Wild Code School">
                </a>
                <a href="https://twitter.com/wildcodeschool" target="_blank">
                  <img src="{{ asset('img/social/twitter.svg') }}" alt="Twitter - Wild Code School">
                </a>
                <a href="https://www.instagram.com/wildcodeschool/" target="_blank">
                  <img src="{{ asset('img/social/instagram.svg') }}" alt="Instagram - Wild Code School">
                </a>
                <a href="https://fr.linkedin.com/edu/wild-code-school-192048" target="_blank">
                  <img src="{{ asset('img/social/linkedin.svg') }}" alt="Linkedin - Wild Code School">
                </a>
                <a href="https://github.com/WildCodeSchool" target="_blank">
                  <img src="{{ asset('img/social/github.svg') }}" alt="Github - Wild Code School">
                </a>
                <a href="https://www.youtube.com/channel/UCi99G_0QPx5sYsK8zdvQzfw" target="_blank">
                  <img src="{{ asset('img/social/youtube.svg') }}" alt="Youtube - Wild Code School">
                </a>
        </div>
        
      </div>
</footer>
 <!-- FOOTER END -->       
    </body>
</html>
