{% extends 'base.html.twig' %}


{% block body %}

	<div class="col-md-12 entetepro">Bienvenue sur votre espace {{ app.user.username }}
	</div>
	<div class="col-md-12">
		<div class="col-md-3 profil">
			<hr style="border-color:#3d3d3d;">
			<h3>MON PROFIL</h3>
			<hr style="border-color:#3d3d3d;">
				<div class="biobio">
					<p class="madescr"> Présentation :</p>
					<h4 class="biorequ">{{ requete.biographie }}</h4>
				</div>
				<h4><span class="spanesp">Prénom:</span> {{ requete.prenom }}</h4>
				<h4><span class="spanesp">Nom:</span> {{ requete.nom }}</h4>
				<h4><span class="spanesp">Age:</span> {{ requete.age }} ans</h4>
				<h4><span class="spanesp">E-mail:</span> {{ app.user.email }} </h4>
			<hr style="border-color:#3d3d3d;">
			<h3 class="titre-pro">LIENS PRO</h3>
			<hr style="border-color:#3d3d3d;">
				<h4><span class="spanesp">Site personnel:</span> 
					<a class="craf" href="{{ requete.site }}">{{ requete.site }}</a>
				</h4>
				<h4><span class="spanesp">Github:</span> 
					<a class="craf" href="{{ requete.github }}">{{ requete.github }}</a>
				</h4>
				<h4><span class="spanesp">Linkedin:</span> 
					<a class="craf" href="{{ requete.linkedin }}">{{ requete.linkedin }}</a>
				</h4>
				<h4><span class="spanesp">Tweeter:</span> 
					<a class="craf" href="{{ requete.tweeter }}">{{ requete.tweeter }}</a>
				</h4>
				<h4><span class="spanesp">Doyoubuzz:</span> 
					<a class="craf" href="{{ requete.doyoubuzz }}">{{ requete.doyoubuzz }}</a>
				</h4>
		</div>
			
			<div class="col-md-7 flux-perso">
			<h3>MON FLUX PERSONEL</h3>
				<div class="col-md-12 post_perso">
					<h4><img src="{{ asset('img/jumelles.png') }}"><b>Je vais à la plage</b> - le 29/04/2016</h4>
					<p>Aujourd'hui petit tour à la plage en famille</p>
				</div>
				<div class="col-md-12 post_perso">
					<h4><img src="{{ asset('img/humeur.png') }}"><b>En pleine forme</b> - le 28/04/2016</h4>
				</div>
				<div class="col-md-12 post_perso">
					<h4><img src="{{ asset('img/megaphone.png') }}"><b>Concours de Brame</b> - le 27/04/2016</h4>
					<p>La Loupe le 12/05/2016</p>
				</div>
				<div class="col-md-12 post_perso">
					<h4><img src="{{ asset('img/jumelles.png') }}"><b>Je vais à la piscine</b> - le 27/04/2016</h4>
					<p>Le maillot de bain est prêt. Plus que la serviette à trouver</p>
				</div>
			</div>
		<div class="col-md-2">
			<div class="img_profil"><img src="{{ asset('img/deer_small.png') }}"></div>
			<a class="btn btn-primary btn-espace" href="{{ path ("user_espacemodif") }}" role="button">Modifier votre profil</a>
		</div>
	</div>
{% endblock %}