{% extends 'base.html.twig' %}


{% block body %}
<div class="col-md-12">Bienvenue sur votre espace personnel {{ app.user.username }}</div>
<div class="col-md-12">
	<div class="col-md-3 profil">
		<h3>MON PROFIL</h3>
			<h4>{{ requete_infos.biographie }}</h4><br>
			<h4>{{ requete_infos.nom }}</h4>
			<h4>{{ requete_infos.prenom }}</h4>
			<h4> {{ app.user.email }} </h4>
			<h4> {{ requete_age.age }} ans</h4><br>
		<div class="titre-pro"><h3>LIENS PRO</h3></div>
			<h4>Site personnel : {{ requete_infos.site }}</h4>
			<h4>Github : {{ requete_infos.github }}</h4>
			<h4>Linkedin : {{ requete_infos.linkedin }}</h4>
			<h4>Tweeter : {{ requete_infos.tweeter }}</h4>
			<h4>Doyoubuzz : {{ requete_infos.doyoubuzz }}</h4>
	</div>
		
		<div class="col-md-7 flux-perso">
		<h3>MON FLUX PERSONEL</h3>
			<div class="col-md-12 post_perso">
				<h4><img src="{{ asset('img/jumelles.png') }}"><b>Je vais à la plage</b> - le 29/04/2016</h4>
				<p>Aujourd'hui petit tour à la plage en famille</p>
			</div>
			<div class="col-md-12 post_perso">
				<h4><img src="{{ asset('img/humeur.png') }}"><b>En pleine forme</b> - le 28/04/2016</h4>
			</div>
			<div class="col-md-12 post_perso">
				<h4><img src="{{ asset('img/megaphone.png') }}"><b>Concours de Brame</b> - le 27/04/2016</h4>
				<p>La Loupe le 12/05/2016</p>
			</div>
			<div class="col-md-12 post_perso">
				<h4><img src="{{ asset('img/jumelles.png') }}"><b>Je vais à la piscine</b> - le 27/04/2016</h4>
				<p>Le maillot de bain est prêt. Plus que la serviette à trouver</p>
			</div>
		</div>
	<div class="col-md-2">
		<div class="img_profil"><img src="{{ asset('img/deer_small.png') }}"></div>
		<a class="btn btn-primary btn-espace" href="{{ path ("user_espacemodif") }}" role="button">Modifier votre profil</a>
	</div>
</div>
<div class="col-md-12">
	<div class="col-md-5"></div>
	<div class="col-md-2 center-block titre_ami"><h3>MES AMIS</h3></div>
	<div class="col-md-5"></div>
</div>
<div class="col-md-12">
	<div class="bulle_ami"><a href="#" alt="L Dupont">L.D</a></div>	
</div>
{% endblock %}