{% extends 'base.html.twig' %}

{% block body %}
    <h1>message list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date</th>
                <th>Userdest</th>
                <th>Usersent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('mess_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{{ message.content }}</td>
                <td>{% if message.date %}{{ message.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ message.userdest }}</td>
                <td>{{ message.usersent }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('mess_show', { 'id': message.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('mess_edit', { 'id': message.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mess_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
